@{
    ViewData["Title"] = "Conclusiones";
}

<style>

html{
    background: url("../images/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px 0px;
    margin: 0;
}

.navbar{
  position: relative;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>

<br><br>
<div style="text-align: center">
    <h1>Conclusiones del análisis</h1>
    <br><hr><br>
    <p style="text-align: justify">
        Conforme el análisis hecho previamente, se sumó el total de puntos que obtuvo cada una de las aerolíneas y se designó
        las mejores 3 a un área específica. Por áreas, nos referimos a distancias recorridas, puntualidad y rendimiento.
    </p>
</div>

<br><br>

<div class="row">
    <div class="column">

        <h3 style="text-align: center">Puntualidad</h3>
        <br>
        <img src="../images/puntualidad.jpg" class="center"/>

    </div>

    <div class="column">

        <h3 style="text-align: center">Distancias</h3>
        <br>
        <img src="../images/distancia.jpg" class="center" height="78%"/>

    </div>

    <div class="column">

        <h3 style="text-align: center">Rendimiento</h3>
        <br>
        <img src="../images/rendimiento.jpg" class="center"/>

    </div>
</div>

<br><br><br><br><br><br>