@{
    ViewData["Title"] = "Conclusiones";
}

<style>

html{
    background: url("../images/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px 0px;
    margin: 0;
}

.navbar{
  position: relative;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<br><br>
<div style="text-align: center">
    <h1>Conclusiones del análisis</h1>
    <br><hr><br>
    <p style="text-align: justify">
        Para llegar a una conclusión de cuál es la mejor aerolínea, primero se debe tomar en cuenta que cumplan con las virtudes más importantes en este tipo de empresas.
        Las virtudes que consideramos más importantes, son las siguientes:
    </p>
</div>

<br><br>

<div class="row">
    <div class="column">

        <h3 style="text-align: center">Puntualidad</h3>
        <br>
        <img src="../images/puntualidad.jpg" class="center"/>
        <br>
        <p style="text-align: justify; margin: 20px;">
          La puntualidad es una virtud de coordinarse cronológicamente para cumplir una tarea requerida o satisfacer una obligación
          antes o en un plazo anteriormente comprometido o hecho a otra persona. En el contexto de las aerolíneas, es necesario cumplir con los horarios
          establecidos en los vuelos ya que unos minutos de diferencia pueden cambiar los planes totalmente.
        </p>

    </div>

    <div class="column">

        <h3 style="text-align: center">Distancias</h3>
        <br>
        <img src="../images/distancia.jpg" class="center" height="40%"/>
        <p style="text-align: justify; margin: 20px;">
          Viajar es uno de los placeres más solicitados por los humanos. El hecho de conocer lugares fuera de nuestro alcance es una de las metas
          que muchas familias se proponen. Por ello, tanto la cantidad de destinos que posea una aerolínea como la distancia máxima que esta llegue
          a recorrer es clave para la preferencia comercial de los clientes.
        </p>

    </div>

    <div class="column">

        <h3 style="text-align: center">Rendimiento</h3>
        <br>
        <img src="../images/rendimiento.jpg" class="center"/>
        <p style="text-align: justify; margin: 20px;">
          Para hacer una inversión inteligente, es necesario evaluar el desempeño y rendimiento sobre la empresa que se va a trabajar; de hecho es uno de
          los campos más importantes en el ámbito financiero. La actividad de una aerolínea puede aumentar a decrecer con el tiempo, por eso un estudio
          reciente del comportamiento de sus ventas puede ser útil para escoger a la mejor aerolínea.
        </p>

    </div>
</div>


<br>
<div>
  <h3 style="text-align:center">Conclusión final</h3>
  <p style="text-align:justify">
    Para llegar a una conclusión, se le dió una puntuación de 1 a 18 (aproximadamente) siendo 18 el puntaje otortgado a aquella aerolínea que calificara en primer lugar respecto a la pregunta.
    Seguidamente, se hizo una sumatoria de todos los puntos recaudados por las aerolíneas y se ordenó de mayor a menor. Finalmente, escogimos las 3 aerolíneas que mejor
    calificaron...
  </p>
  <br>
  <h3 style="text-align:center">Estas aerolíneas son:</h3>
  <br>
  <div id="top3" align='center'></div>
</div>

<br><br><br><br><br>