@{
    ViewData["Title"] = "Contacto";
}

<style >

html{
    background: url("../images/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px 0px;
    margin: 0;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>
<body style="overflow-y:hidden">
<br><br>
<div style="text-align: center">
    <h1>Información del Contacto</h1>
    <br><hr><br>
</div>

<p style="text-align: center">
    Estudiantes de la Universidad del Valle de Guatemala <br />
    Curso: Bases de datos <br />
    Sección: 10 <br />
    Proyecto 1 <br />
    Fecha: 27/02/19
</p>

<br><br>

<div class="row">
    <div class="column" style="text-align: center">
        <h3>Oscar Juárez Paz</h3>
        <p>
            Carné: 17315 <br />
            Carrera: CCTI
        </p>
    </div>
    <div class="column" style="text-align: center">
        <h3>José Cifuentes Sánchez</h3>
        <p>
            Carné: 17509 <br />
            Carrera: CCTI
        </p>
    </div>
</div>
</body>