@{
    ViewData["Title"] = "Diagrama";
}

<style>

html{
    background: url("../images/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px 0px;
    margin: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

</style>

<body style="overflow-y:hidden">

    <br><br><br><br>
    <div style="text-align: center">
        <h1>Diagrama entidad-relación de la base de datos.</h1>
        <br><hr><br>
    </div>

    <div style="text-align: center; float: center;">
        <img src="../images/Diagrama Entidad Chimazon.png" class="center" height="100%" width="100%"/>
    </div>

</body>