@{
    ViewData["Title"] = "Página Principal";
}

<style>


html{
    background: url("../images/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Se agrega el efecto parallax */
.parallax {

    background-image: url("../images/base-de-datos-2.jpg");
    height: 570px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.titulo{
    color: black;
    text-align: left;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;
}

.bloque{
    background: transparent;
}

</style>

<body>
    <!-- font-size: 3.5rem; -->
    <br><br><br><br><br><br><br><br><br>

    <div>
        <h1 class="titulo" style="font-size:3.0rem">Proyecto 1 - Aerolíneas</h1>
        <h5>Análsisis de una base de datos orientada a aerolíneas.</h5>
    </div>
</body>