@{
    ViewData["Title"] = "Página Principal";
}

<style>

/* Se agrega el efecto parallax */
.parallaxInicio {
  
  background-image: url("../images/base-de-datos-2.jpg");
  height: 570px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo{
    color: gold;
    font-weight: 900;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-shadow: 2px 2px 4px black;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;
}

</style>

<!-- Container element -->
<div class="parallaxInicio">
    <br><br><br>
    <h1 class="titulo">Proyecto 1 - Bases de Datos</h1>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
